{% extends "base.html" %}
{% block content %}
<h3>{{ 'Editar Veículo' if vehicle else 'Novo Veículo' }}</h3>

<form method="post">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label>Placa</label>
            <input type="text" name="plate" class="form-control" value="{{ vehicle.plate if vehicle else '' }}"
                required>
        </div>
        <div class="col-md-4 mb-3">
            <label>Marca</label>
            <input type="text" name="brand" class="form-control" value="{{ vehicle.brand if vehicle else '' }}">
        </div>
        <div class="col-md-4 mb-3">
            <label>Modelo</label>
            <input type="text" name="model" class="form-control" value="{{ vehicle.model if vehicle else '' }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <label>Ano</label>
            <input type="number" name="year" class="form-control" value="{{ vehicle.year if vehicle else '' }}">
        </div>
        <div class="col-md-3 mb-3">
            <label>Tipo</label>
            <input type="text" name="vehicle_type" class="form-control"
                value="{{ vehicle.vehicle_type if vehicle else '' }}">
        </div>
        <div class="col-md-3 mb-3">
            <label>Km atual</label>
            <input type="number" name="mileage" class="form-control" value="{{ vehicle.mileage if vehicle else '' }}">
        </div>
        <div class="col-md-3 mb-3">
            <label>Status</label>
            <select name="status" class="form-select">
                {% for s in ['ATIVO', 'EM MANUTENÇÃO', 'DESATIVADO'] %}
                <option value="{{ s }}" {% if vehicle and vehicle.status.value==s %}selected{% endif %}>{{ s }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <button class="btn btn-primary">{{ 'Atualizar' if vehicle else 'Salvar' }}</button>
   
</form>
{% endblock %}