{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Veículos</h1>
    <a href="{{ url_for('veiculos.adicionar_veiculo') }}" class="btn btn-primary mb-3">Adicionar Veículo</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Ano</th>
                    <th>Placa</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                <tr>
                    <td>{{ veiculo.id }}</td>
                    <td>{{ veiculo.modelo }}</td>
                    <td>{{ veiculo.ano }}</td>
                    <td>{{ veiculo.placa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}