{% extends "base.html" %}
{% block title %}Lista de Veículos{% endblock %}

    
{% block content %}
    <h1>Lista de Veículos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Placa</th>
            </tr>
        </thead>
        <tbody>
            {% for veiculo in veiculos %}
            <tr>
                <td>{{ veiculo.id }}</td>
                <td>{{ veiculo.modelo }}</td>
                <td>{{ veiculo.ano }}</td>
                <td>{{ veiculo.placa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}