{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="neon-border text-center">
    <h1>Bem-vindo ao Portal</h1>
    {% if user.is_authenticated %}
    <p>Olá, {{ user.name }}! Você está logado.</p>
    <a href="{{ url_for('bp_user.logout') }}" class="btn btn-outline-info">Logout</a>
    {% else %}
    <p>Faça login ou registre-se para continuar.</p>
    <a href="{{ url_for('bp_user.login') }}" class="btn btn-outline-info me-2">Login</a>
    <a href="{{ url_for('bp_user.register') }}" class="btn btn-outline-info">Registrar</a>

    
    {% endif %}
</div>
{% endblock %}