{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

<form action="{{ url_for('bp_user.register') }}" method="post">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <button type="submit">Register</button>
</form>

<p><a href="{{ url_for('bp_user.login') }}">Already have an account? Login here!</a></p>
{% endblock %}